#Question 1 : Write a code to reverse a string?
#Answer :

In [ ]:
#code to reverse a string

def reverse_string(a):
    return a[::-1]

string = "Hello Swapnil"
reversed_string = reverse_string(string)
print(reversed_string)

linpawS olleH

#Question #2. Write a code to count the number of vowels in a string?
#Answer:

In [ ]:
#code to count the number of vowels in a string
def count_vowels(s):
    vowels = "aeiouAEIOU"
    count = 0
    for char in s:
        if char in vowels:
            count += 1
    return count
string = "Swapnil"
vowel_count = count_vowels(string)
print(f"Number of vowels: {vowel_count}")

Number of vowels: 2

#Question 3. Write a code to check if a given string is a palindrome or not?
#Answer:

In [ ]:
#code to check if a given string is a palindrome or not
def is_palindrome(s):
    return s == s[::-1]

string = "nayan"
if is_palindrome(string):
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

The string is a palindrome.

#Question 4. Write a code to check if two given strings are anagrams of each other?
#Answer:

In [ ]:
#a code to check if two given strings are anagrams of each other
def are_anagrams(str1, str2):

   return sorted(str1) == sorted(str2)

string1 = "wolf"
string2 = "flow"

if are_anagrams(string1, string2):
    print("The strings are anagrams.")
else:
    print("The strings are not anagrams.")

The strings are anagrams.

#Question 5. Write a code to find all occurrences of a given substring within another string?
#Answer:

In [ ]:
#a code to find all occurrences of a given substring within another string

def find_all_occurrences(s, sub):
    occurrences = []
    start = 0

    #Continue until there are no more substrings discovered

    while True:
        pos = s.find(sub, start)
        if pos == -1:
            break
        occurrences.append(pos)
        #After the discovered substring, go to the next character
        start = pos + 1

    return occurrences

string = "The sky is blue, the grass is green, and life is beautiful"
substring = "is"
positions = find_all_occurrences(string, substring)
print(f"Substring '{substring}' found at positions: {positions}")

Substring 'is' found at positions: [8, 27, 46]

#Question 6. Write a code to perform basic string compression using the counts of repeated characters?
#Answer:

In [ ]:
#a code to perform basic string compression using the counts of repeated characters

def compress_string(s):

    compressed = []
    count = 1

    for i in range(1, len(s)):
        if s[i] == s[i - 1]:
            count += 1
        else:
            compressed.append(f"{s[i - 1]}{count}")
            count = 1

    compressed.append(f"{s[-1]}{count}")
    compressed_str = ''.join(compressed)

    return compressed_str if len(compressed_str) < len(s) else s

original_string = "sssswwwaap"
print(compress_string(original_string))

s4w3a2p1

#Question 7. Write a code to determine if a string has all unique characters?
#Answer:

In [ ]:
#code to determine if a string has all unique characters

def unique_characters(s):
    return len(s) == len(set(s))

string1 = "swaaap"
string2 = "pnil"

#a string has all unique characters or not
print(unique_characters(string1))
print(unique_characters(string2))

False
True

#Question 8. Write a code to convert a given string to uppercase or lowercase?
#Answer:

In [ ]:
#code to convert a given string to uppercase or lowercase

def convert_case(s, type_case):
    if type_case == 'upper':
        return s.upper()  # Convert to uppercase
    elif type_case == 'lower':
        return s.lower()  # Convert to lowercase

original_string = "Sachin, Kohli"
upper_string = convert_case(original_string, 'upper')
lower_string = convert_case(original_string, 'lower')

print("Original String:", original_string)
print("Uppercase String:", upper_string)
print("Lowercase String:", lower_string)

Original String: Sachin, Kohli
Uppercase String: SACHIN, KOHLI
Lowercase String: sachin, kohli

#Question 9.Write a code to count the number of words in a string?
#Answer:

In [ ]:
#code to count the number of words in a string

def count_words(s):
    words = s.split()
    return len(words)

word_string = "My name is Sachin Tendulkar"
word_count = count_words(word_string)

print("Original String:", word_string)  #print original string
print("Number of Words:", word_count)   #count number of words

Original String: My name is Sachin Tendulkar
Number of Words: 5

#Question 10. Write a code to concatenate two strings without using the + operator?
#Answer:

In [ ]:
#code to concatenate two strings without using the + operator

string1 = "Sachin"
string2 = "Tendulkar"
result = " ".join([string1, string2])
print("joint string :", result) #joint string

joint string : Sachin Tendulkar

#Question 11.Write a code to remove all occurrences of a specific element from a list?
#Answer:

In [ ]:
#code to remove all occurrences of a specific element from a list

def remove_occurrences(list, element):
    return [item for item in list if item != element]

my_list = [1, 2, 3, 3, 3, 4, 5]
element_to_remove = 3
new_list = remove_occurrences(my_list, element_to_remove)
print(new_list) #removed 3

[1, 2, 4, 5]

#Question 12.Implement a code to find the second largest number in a given list of integers?
#Answer:

In [ ]:
#code to find the second largest number in a given list of integers

def second_largest(numbers):
    unique_numbers = set(numbers)  # Remove duplicates
    if len(unique_numbers) < 2:
        return None
    unique_numbers.remove(max(unique_numbers))  # Remove the largest number
    return max(unique_numbers)  # Return the second largest number


my_list = [11,22,22,33,66,88]
result = second_largest(my_list)
print("Second largest number:",result)

Second largest number: 66

#Question 13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values?
#Answer:

In [ ]:
#code to count the occurrences of each element in a list
#and return a dictionary with elements as keys and their
#counts as values

def count_occurrences(list):
    counts = {}
    for element in list:
        if element in counts:
            counts[element] += 1
        else:
            counts[element] = 1
    return counts


my_list = [1, 1, 1, 2, 3, 4, 4, 4, 4, 4,5]
result = count_occurrences(my_list)
print("Count Occurrences",result)

Count Occurrences {1: 3, 2: 1, 3: 1, 4: 5, 5: 1}

#Question 14. Write a code to reverse a list in-place without using any built-in reverse functions?
#Answer:

In [ ]:
#code to reverse a list in-place without using any built-in reverse functions

def reverse_list(list):
    left = 0
    right = len(list) - 1

    while left < right:

        list[left], list[right] = list[right], list[left]

        left += 1
        right -= 1


my_list = [122, 223, 132, 44, 55]
reverse_list(my_list)
print("Reverse list", my_list)

Reverse list [55, 44, 132, 223, 122]

#Question 15.Implement a code to find and remove duplicates from a list while preserving the original order of elements?
#Answer:

In [ ]:
#code to find and remove duplicates from a list while preserving the original order of elements

def remove_duplicates(list):
    discovered = set()
    result = []   # list to store the result without duplicates

    for element in list:
        if element not in discovered:
            discovered.add(element)

            # Append to result list
            result.append(element)

    return result


my_list = [11, 22, 33, 22, 44, 33, 55, 66]
result = remove_duplicates(my_list)
print("Output",result)

Output [11, 22, 33, 44, 55, 66]

#Question 16. Create a code to check if a given list is sorted (either in ascending or descending order) or not?
#Answer:

In [ ]:
#The function is_sorted checks whether the input list lst is sorted.
#It returns True if the list is sorted in either ascending or descending order and False otherwise.

def is_sorted(list):
    if len(list) < 2:
        return True

    ascending = all(list[i] <= list[i + 1] for i in range(len(list) - 1))
    descending = all(list[i] >= list[i + 1] for i in range(len(list) - 1))

    return ascending or descending


my_list1 = [11, 22,33, 44, 55]
my_list2 = [55, 44, 33, 32, 11]
my_list3 = [11, 33, 22, 34]

print(is_sorted(my_list1))  # True (ascending)
print(is_sorted(my_list2))  # True (descending)
print(is_sorted(my_list3))  # False (not sorted)

True
True
False

#Question 17. Write a code to merge two sorted lists into a single sorted list?
#Answer:

In [ ]:
#The merge_two_sorted_lists function takes two sorted lists, list1 and list2

def merge_two_sorted_lists(list1, list2):
    merged_list = []
    i, j = 0, 0


    while i < len(list1) and j < len(list2):
        if list1[i] < list2[j]:
            merged_list.append(list1[i])
            i += 1
        else:
            merged_list.append(list2[j])
            j += 1

    # If there are remaining elements in list1, add them to merged_list
    while i < len(list1):
        merged_list.append(list1[i])
        i += 1

    # If there are remaining elements in list2, add them to merged_list
    while j < len(list2):
        merged_list.append(list2[j])
        j += 1

    return merged_list

list1 = [11,33, 55, 77]
list2 = [22, 44, 66, 88]
result = merge_two_sorted_lists(list1, list2)
print("Merged two sorted list:",result)

Merged two sorted list: [11, 22, 33, 44, 55, 66, 77, 88]

#Question 18 Implement a code to find the intersection of two given lists?
#Answer:

In [ ]:
#the intersection of two given lists

def intersection(list1, list2):

    # Convert lists to sets to find the intersection
    set1 = set(list1)
    set2 = set(list2)

    # uses the & operator to find common elements between the two sets
    return list(set1 & set2)

#converts the result back to a list and returns it.

list1 = [22, 33, 44, 55]
list2 = [44, 55, 66, 77]
result = intersection(list1, list2)
print("The intersection of two given lists:", result)

The intersection of two given lists: [44, 55]

#Question 19.Create a code to find the union of two lists without duplicates?
#Answer:

In [ ]:
#Union of two lists without duplicates

def union(list1, list2):
    # Use a set to eliminate duplicates and combine both lists
    # union function uses the | operator to combine the two sets created
    #from the input lists, which automatically removes duplicates.

    return list(set(list1) | set(list2))

list1 = [11, 22, 33, 44]
list2 = [44, 55, 66, 77]
result = union(list1, list2)
print("The union of two lists without duplicates:",result)

The union of two lists without duplicates: [33, 66, 11, 44, 77, 22, 55]

#Question 20. Write a code to shuffle a given list randomly without using any built-in shuffle functions?
#Answer:

In [ ]:
#shuffle a given list randomly without using any built-in shuffle functions


import random

def shuffle_list(list):

    # Create a copy of the original list to shuffle

    shuffled_list = list[:]
    n = len(shuffled_list)

    # Iterate over the list in reverse order
    for i in range(n - 1, 0, -1):


        j = random.randint(0, i)

        # Swappiing of the elements at indices i and j
        shuffled_list[i], shuffled_list[j] = shuffled_list[j], shuffled_list[i]

    return shuffled_list


original_list = [11, 22, 33, 44, 55]
shuffled = shuffle_list(original_list)

print("Original list:", original_list)
print("Shuffled list:", shuffled)

Original list: [11, 22, 33, 44, 55]
Shuffled list: [11, 22, 44, 55, 33]

#Question 21. Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples?
#Answer:

In [ ]:

def common_elements(tuple1, tuple2):

    #set intersection to find common elements
    return tuple(set(tuple1) & set(tuple2))

tuple1 = (11,25,22,33,44)
tuple2 = (44,25,55,66,77)
result = common_elements(tuple1 ,tuple2)
print("Common element in both the tuples:",result)

Common element in both the tuples: (25, 44)

#Question 22.Create a code that prompts the user to enter two sets of integers separated by commas. Then,print the intersection of these two sets?
#Answer:

In [ ]:
#Intersection of two sets

def get_set_input(prompt):
    # Prompt user input, split by commas, and convert to a set of integers
    return set(map(int, input(prompt).split(',')))

def main():
    # Get two sets from user input
    set1 = get_set_input("Enter the set01 of integers (separated by commas): ")
    set2 = get_set_input("Enter the set02 of integers (separated by commas): ")

    # intersection of two sets
    intersection = set1 & set2

    # Print the result
    print("The intersection of the two sets is:", intersection)

# Run the main function
if __name__ == "__main__":
    main()

Enter the set01 of integers (separated by commas): 11,22,23,35,56
Enter the set02 of integers (separated by commas): 22,34,44,56,78
The intersection of the two sets is: {56, 22}

#Question 23.Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples?
#Answer:

In [ ]:
#Using two tuples as input, this Python function creates a new tuple
#with the elements of the two input tuples concatenated

def concatenate_tuples(tuple1, tuple2):
    # Concatenate the two tuples
    return tuple1 + tuple2

tuple1 = (11, 22, 33)
tuple2 = (44, 55, 66 ,77)
result = concatenate_tuples(tuple1, tuple2)
print("Concatenated Tuple:",result)

Concatenated Tuple: (11, 22, 33, 44, 55, 66, 77)

#Question 24. Develop a code that prompts the user to input two sets of strings.Then,print the elements that are present in the first set but not in the second set?
#Answer:

In [ ]:
#After reading user input and splitting it into sets of strings,
#this program uses the - operator to compute the difference.
#Things that are in the first set but absent from the second will be included in the difference.

def get_set_input(prompt):
    return set(input(prompt).split(','))

def main():
    # Get two sets from user input
    set1 = get_set_input("Enter the first set of strings (separated by commas): ")
    set2 = get_set_input("Enter the second set of strings (separated by commas): ")

    # Calculate the difference (elements in set1 but not in set2)
    difference = set1 - set2

    # Print the result
    print("Elements present in the first set but not in the second set:", difference)

# Run the main function
if __name__ == "__main__":
    main()

Enter the first set of strings (separated by commas): Sachin,Saurav,Virat
Enter the second set of strings (separated by commas): Tendulkar,Ganguly,Kohli
Elements present in the first set but not in the second set: {'Virat', 'Sachin', 'Saurav'}

#Question 25. Create a code that takes a tuple and two integers as input.The function should return a new tuple containing elements from the original tuple within the specified range of indices?
#Answer:

In [ ]:
#This Python function creates a new tuple with elements from the original tuple
#within the given range of indices, given a tuple and two integers (which represent indices) as input:

def slice_tuple(input_tuple, start_index, end_index):
    # Slice the tuple from start_index to end_index
    return input_tuple[start_index:end_index]

input_tuple = (11, 22, 33, 44, 55, 66, 77)
start_index = 2
end_index = 6
result = slice_tuple(input_tuple, start_index, end_index)
print("Output:",result)

Output: (33, 44, 55, 66)

#Question 26.Write a code that prompts the user to input two sets of characters.Then,print the union of these two sets?
#Answer:

In [ ]:
#print union of two sets

def get_set_input(prompt):
    return set(input(prompt).split(','))

def main():
    # Get two sets from user input
    set1 = get_set_input("Enter the first set of characters (separated by commas): ")
    set2 = get_set_input("Enter the second set of characters (separated by commas): ")

    # union - all elements from both sets
    union = set1 | set2

    # Print the result
    print("The union of the two sets is:", union)

# Run the main function
if __name__ == "__main__":
    main()

Enter the first set of characters (separated by commas): aa,bb,cc,dd
Enter the second set of characters (separated by commas): dd,bb,cc,ee
The union of the two sets is: {'cc', 'ee', 'aa', 'bb', 'dd'}

#Question 27. Develop a code that takes a tuple of integers as input.The function should return the maximum and minimum values from the tuple using tuple unpacking.
#Answer:

In [ ]:
#The function find_min_max takes a tuple of integers and uses the min() and max() functions
#to find the smallest and largest values.


def find_min_max(input_tuple):
    # Use tuple unpacking to find the minimum and maximum values
    min_value, max_value = min(input_tuple), max(input_tuple)
    return min_value, max_value


input_tuple = (18, 921, 872, 839, 33, 65)
min_val, max_val = find_min_max(input_tuple)
print(f"Minimum value: {min_val}, Maximum value: {max_val}")

Minimum value: 18, Maximum value: 921

#Question 28.Create a code that defines two sets of integers.Then,print the union,intersection,and difference of these two sets.
#Answer:

In [ ]:
#Union (|): Combines all unique elements from both sets.
#Intersection (&): Returns elements common to both sets.
#Difference (-): Returns elements that are in set1 but not in set2.


def main():
    # Defining two sets of integers
    set1 = {11, 22, 33, 44}
    set2 = {44, 55, 66, 77, 88}

    # Calculate union, intersection, and difference
    #Union of the two sets
    union = set1 | set2

    #Intersection of the two sets
    intersection = set1 & set2

    #Difference (elements in set1 but not in set2)
    difference = set1 - set2

    print("Union of the two sets:", union)
    print("Intersection of the two sets:", intersection)
    print("Difference of the two sets (set1 - set2):", difference)

# Run the main function
if __name__ == "__main__":
    main()

Union of the two sets: {33, 66, 11, 44, 77, 22, 55, 88}
Intersection of the two sets: {44}
Difference of the two sets (set1 - set2): {33, 11, 22}

#Question 29. Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.
#Answer:
[link text](https://)

In [ ]:
#count of occurrences of the given element in the tuple

def count_occurrences(tup, element):
    return tup.count(element)


my_tuple = (33, 22, 33, 44, 33, 42)
element_to_count = 33
count = count_occurrences(my_tuple, element_to_count)

print(f"The element {element_to_count} appears {count} times in the tuple.")

The element 33 appears 3 times in the tuple.

#Question 30.Develop a code that prompts the user to input two sets of strings.Then, print the symmetric difference of these two sets?
#Answer:

In [ ]:
# symmetric difference of two sets of strngs

def get_set_input(prompt):
    user_input = input(prompt)
    return set(user_input.split())

# Get two sets of strings from the user
set1 = get_set_input("Enter the first set of strings (separated by spaces): ")
set2 = get_set_input("Enter the second set of strings (separated by spaces): ")

#symmetric difference
symmetric_difference = set1.symmetric_difference(set2)

print("The symmetric difference of the two sets is:", symmetric_difference)

Enter the first set of strings (separated by spaces): star,fish
Enter the second set of strings (separated by spaces): dolphin,turtle
The symmetric difference of the two sets is: {'star,fish', 'dolphin,turtle'}

#Question 31.Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.
#Answer:

In [ ]:

def word_frequencies(words):
    frequency_dict = {}
    for word in words:

        frequency_dict[word] = frequency_dict.get(word, 0) + 1
    return frequency_dict


input_words = input("Enter a list of words (separated by spaces): ").split()
frequencies = word_frequencies(input_words)
print("Word Frequencies:", frequencies)

Enter a list of words (separated by spaces): sachin rahul virat sachin
Word Frequencies: {'sachin': 2, 'rahul': 1, 'virat': 1}

#Question 32.Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys,the values should be added together .
#Answer:

In [ ]:

def merge_dictionaries(dict1, dict2):
    merged_dict = dict1.copy()

    for key, value in dict2.items():
        if key in merged_dict:
            merged_dict[key] += value  # Sum values for common keys
        else:
            merged_dict[key] = value  # Add new key-value pairs

    return merged_dict


dict1 = {'a': 11, 'b': 42, 'c': 13}
dict2 = {'b': 23, 'c': 84, 'd': 75}

result = merge_dictionaries(dict1, dict2)
print("Merged Dictionaries:",result)

Merged Dictionaries: {'a': 11, 'b': 65, 'c': 97, 'd': 75}

#Question 33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None.

#Answer:

In [ ]:
#The function get_nested_value takes two parameters: nested_dict, which is the dictionary to search,
#and keys, which is a list of keys.

def get_nested_value(nested_dict, keys):

    #It initializes current_value to the input dictionary and iterates through each key in the list

    current_value = nested_dict
    for key in keys:
        if isinstance(current_value, dict) and key in current_value:
            current_value = current_value[key]
        else:
            return None
    return current_value


nested_dictionary = {
    'a': {
        'b': {
            'c': 34
        }
    },
    'd': 100
}


result = get_nested_value(nested_dictionary, ['a', 'b', 'c'])
#output: 34
print(result)

result = get_nested_value(nested_dictionary, ['a', 'b', 'e'])
#output: None
print(result)

34
None

#Question 34.Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order?
#Answer:

In [ ]:
#The sort_dict_by_values function takes a dictionary and a boolean ascending parameter.
#It uses the sorted() function, sorting by the values.

def sort_dict_values(input_dict, ascending=True):

    return dict(sorted(input_dict.items(), key=lambda item: item[1], reverse=not ascending))


my_dict = {'sachin': 4, 'saurav': 3, 'rahul': 5, 'rajeev': 6}
sorted_dict_asc = sort_dict_values(my_dict, ascending=True)
sorted_dict_desc = sort_dict_values(my_dict, ascending=False)

print("Sorted (Ascending):", sorted_dict_asc)
print("Sorted (Descending):", sorted_dict_desc)

Sorted (Ascending): {'saurav': 3, 'sachin': 4, 'rahul': 5, 'rajeev': 6}
Sorted (Descending): {'rajeev': 6, 'rahul': 5, 'sachin': 4, 'saurav': 3}

#Question 35.Write a code that inverts a dictionary,swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

#Answer:

In [ ]:

# invert_dict function iterates through the input dictionary

def invert_dict(input_dict):

    inverted_dict = {}

    for key, value in input_dict.items():
        if value in inverted_dict:
            # If the value already exists, append the key to the list
            if isinstance(inverted_dict[value], list):
                inverted_dict[value].append(key)
            else:
                inverted_dict[value] = [inverted_dict[value], key]
        else:
            # If the value does not exist, set it as the key
            inverted_dict[value] = key

    return inverted_dict

my_dict = {'a': 12, 'b': 13, 'c': 15, 'd': 18}
inverted_dict = invert_dict(my_dict)
print("Inverted Dictionary:", inverted_dict)

Inverted Dictionary: {12: 'a', 13: 'b', 15: 'c', 18: 'd'}

In [ ]:

#--------------------------------------------THE END---------------------------------------